#avatar {
  background-image: url("../../assets/Logo/shadesFace.png");
  background-size: cover;
  background-position: center center;
}



#goggles, #guitar, #football, #trumpet, #bike {
  position: absolute;
  border-radius: 50%;
}

#goggles {
  background-image: url("../../assets/Logo/OrbitItems/goggles.PNG");
  background-size: cover;
  background-position: center center;
  animation: goggles 9s linear infinite ;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg) translateX(65px) rotate(0deg);
}

#guitar {
  background-image: url("../../assets/Logo/OrbitItems/guitar.PNG");
  background-size: cover;
  background-position: center center;
  animation: guitar 9s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(120deg) translateX(65px) rotate(-120deg);
}

#football {
  background-image: url("../../assets/Logo/OrbitItems/football.PNG");
  background-size: cover;
  background-position: center center;
  animation: football 9s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(240deg) translateX(65px) rotate(-240deg);
}

#trumpet {
  background-image: url("../../assets/Logo/OrbitItems/trumpet.png");
  background-size: cover;
  background-position: center center;
  animation: trumpet 9s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(240deg) translateX(65px) rotate(-240deg);
}

#bike {
  background-image: url("../../assets/Logo/OrbitItems/bike.png");
  background-size: cover;
  background-position: center center;
  animation: bike 9s linear infinite;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(240deg) translateX(65px) rotate(-240deg);
}

@keyframes guitar {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(65px) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(65px) rotate(-360deg);
  }
}
@keyframes goggles {
  0% {
    transform: translate(-50%, -50%) rotate(-72deg) translateX(65px) rotate(72deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(288deg) translateX(65px) rotate(-288deg);
  }
}
@keyframes football {
  0% {
    transform: translate(-50%, -50%) rotate(-144deg) translateX(65px) rotate(144deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(216deg) translateX(65px) rotate(-216deg);
  }
}
@keyframes trumpet {
  0% {
    transform: translate(-50%, -50%) rotate(-216deg) translateX(65px) rotate(216deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(144deg) translateX(65px) rotate(-144deg);
  }
}
@keyframes bike {
  0% {
    transform: translate(-50%, -50%) rotate(-288deg) translateX(65px) rotate(288deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(72deg) translateX(65px) rotate(-72deg);
  }
}
