#avatar {
  background-image: url("../../assets/Logo/shadesFace.png");
  background-size: cover;
  background-position: center center;
  --translate-x: 65px;
}



#goggles, #guitar, #football, #trumpet, #bike {
  position: absolute;
  border-radius: 50%;
}

#goggles {
  background-image: url("../../assets/Logo/OrbitItems/goggles.PNG");
  background-size: cover;
  background-position: center center;
  animation: goggles 9s linear infinite ;
  top: 50%;
  left: 50%;
}

#guitar {
  background-image: url("../../assets/Logo/OrbitItems/guitar.PNG");
  background-size: cover;
  background-position: center center;
  animation: guitar 9s linear infinite;
  top: 50%;
  left: 50%;
}

#football {
  background-image: url("../../assets/Logo/OrbitItems/football.PNG");
  background-size: cover;
  background-position: center center;
  animation: football 9s linear infinite;
  top: 50%;
  left: 50%;
}

#trumpet {
  background-image: url("../../assets/Logo/OrbitItems/trumpet.png");
  background-size: cover;
  background-position: center center;
  animation: trumpet 9s linear infinite;
  top: 50%;
  left: 50%;
}

#bike {
  background-image: url("../../assets/Logo/OrbitItems/bike.png");
  background-size: cover;
  background-position: center center;
  animation: bike 9s linear infinite;
  top: 50%;
  left: 50%;
}

@keyframes guitar {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateX(var(--translate-x)) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translateX(var(--translate-x)) rotate(-360deg);
  }
}
@keyframes goggles {
  0% {
    transform: translate(-50%, -50%) rotate(-72deg) translateX(var(--translate-x)) rotate(72deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(288deg) translateX(var(--translate-x)) rotate(-288deg);
  }
}
@keyframes football {
  0% {
    transform: translate(-50%, -50%) rotate(-144deg) translateX(var(--translate-x)) rotate(144deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(216deg) translateX(var(--translate-x)) rotate(-216deg);
  }
}
@keyframes trumpet {
  0% {
    transform: translate(-50%, -50%) rotate(-216deg) translateX(var(--translate-x))  rotate(216deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(144deg) translateX(var(--translate-x)) rotate(-144deg);
  }
}
@keyframes bike {
  0% {
    transform: translate(-50%, -50%) rotate(-288deg) translateX(var(--translate-x)) rotate(288deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(72deg) translateX(var(--translate-x))rotate(-72deg);
  }
}


@media screen and (max-width: 767px) {
  #avatar {
    background-image: url("../../assets/Logo/shadesFace.png");
    background-size: cover;
    background-position: center center;
    --translate-x: 40px;
  }
}